@model User
@{
    ViewBag.Title = "User Profile";
}
<div>Welcome to your profile page, <b>@Model.UserName</b><a asp-action="Logout">Log out</a></div>
<div>
    <b>Title</b><span>@Model.Title</span><br/>
    <b>First name</b><span>@Model.FirstName</span><br />
    <b>Last name</b><span>@Model.LastName</span><br />
    <b>Gender</b><span>@Model.Gender</span><br />
    <b>Date of birth</b><span>@Model.DoB</span><br />
</div>
